IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_AlterFeeType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Currency]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_Currency]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_Customer]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_CustomerType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_CustomerType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Department]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_Department]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_Filiale]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_FormalAlterFeeApplication]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_FormalAlterFeeApplication]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_Office]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_Position]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication] DROP CONSTRAINT [FK_DraftAlterFeeApplication_StuffUser]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountVoucherNo]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccountVoucherNo] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_AlterFeeSubType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail] DROP CONSTRAINT [FK_DraftAlterFeeApplicationDetail_AlterFeeSubType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_DraftAlterFeeApplication]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail] DROP CONSTRAINT [FK_DraftAlterFeeApplicationDetail_DraftAlterFeeApplication]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail] DROP CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Filiale]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Item]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail] DROP CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Item]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_ItemType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail] DROP CONSTRAINT [FK_DraftAlterFeeApplicationDetail_ItemType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail] DROP CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Office]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Shop]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail] DROP CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Shop]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_AlterFeeType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Currency]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Currency]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Customer]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_CustomerType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_CustomerType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Department]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Department]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Filiale]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_FormalAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_FormalAlterFeeExpenseAccount]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Office]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_PaymentMode]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_PaymentMode]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Position]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccount_StuffUser]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccountDetail_DraftAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccountDetail] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccountDetail_DraftAlterFeeExpenseAccount]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccountDetail] DROP CONSTRAINT [FK_DraftAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_Currency]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm] DROP CONSTRAINT [FK_ExpenseForm_Currency]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm] DROP CONSTRAINT [FK_ExpenseForm_ExpenseForm]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm] DROP CONSTRAINT [FK_ExpenseForm_Position]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm] DROP CONSTRAINT [FK_ExpenseForm_StuffUser]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail] DROP CONSTRAINT [FK_WorkFlowDetail_ExpenseForm]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_OrganizationUnitType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail] DROP CONSTRAINT [FK_WorkFlowDetail_OrganizationUnitType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail] DROP CONSTRAINT [FK_WorkFlowDetail_Position]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_PositionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail] DROP CONSTRAINT [FK_WorkFlowDetail_PositionType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail] DROP CONSTRAINT [FK_WorkFlowDetail_StuffUser]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplication_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]'))
ALTER TABLE [dbo].[FormalAlterFeeApplication] DROP CONSTRAINT [FK_FormalAlterFeeApplication_AlterFeeType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplication_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]'))
ALTER TABLE [dbo].[FormalAlterFeeApplication] DROP CONSTRAINT [FK_FormalAlterFeeApplication_Customer]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplication_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]'))
ALTER TABLE [dbo].[FormalAlterFeeApplication] DROP CONSTRAINT [FK_FormalAlterFeeApplication_ExpenseForm]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_AlterFeeSubType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail] DROP CONSTRAINT [FK_FormalAlterFeeApplicationDetail_AlterFeeSubType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail] DROP CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Filiale]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_FormalAlterFeeApplication]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail] DROP CONSTRAINT [FK_FormalAlterFeeApplicationDetail_FormalAlterFeeApplication]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Item]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail] DROP CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Item]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_ItemType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail] DROP CONSTRAINT [FK_FormalAlterFeeApplicationDetail_ItemType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail] DROP CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Office]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Shop]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail] DROP CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Shop]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccount_AlterFeeType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccount_Customer]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_CustomerType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccount_CustomerType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccount_ExpenseForm]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_PaymentMode]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccount_PaymentMode]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccountDetail] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccountDetail] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeExpenseAccount]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountVoucherNo]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccountVoucherNo] DROP CONSTRAINT [FK_FormalAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount]
GO
/****** Object:  Table [dbo].[DraftAlterFeeApplication]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]') AND type in (N'U'))
DROP TABLE [dbo].[DraftAlterFeeApplication]
GO
/****** Object:  Table [dbo].[DraftAlterFeeExpenseAccountVoucherNo]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountVoucherNo]') AND type in (N'U'))
DROP TABLE [dbo].[DraftAlterFeeExpenseAccountVoucherNo]
GO
/****** Object:  Table [dbo].[DraftAlterFeeApplicationDetail]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]') AND type in (N'U'))
DROP TABLE [dbo].[DraftAlterFeeApplicationDetail]
GO
/****** Object:  Table [dbo].[DraftAlterFeeExpenseAccount]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]') AND type in (N'U'))
DROP TABLE [dbo].[DraftAlterFeeExpenseAccount]
GO
/****** Object:  Table [dbo].[DraftAlterFeeExpenseAccountDetail]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountDetail]') AND type in (N'U'))
DROP TABLE [dbo].[DraftAlterFeeExpenseAccountDetail]
GO
/****** Object:  Table [dbo].[ExpenseForm]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExpenseForm]') AND type in (N'U'))
DROP TABLE [dbo].[ExpenseForm]
GO
/****** Object:  Table [dbo].[WorkFlowDetail]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]') AND type in (N'U'))
DROP TABLE [dbo].[WorkFlowDetail]
GO
/****** Object:  Table [dbo].[PaymentMode]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentMode]') AND type in (N'U'))
DROP TABLE [dbo].[PaymentMode]
GO
/****** Object:  Table [dbo].[FormalAlterFeeApplication]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]') AND type in (N'U'))
DROP TABLE [dbo].[FormalAlterFeeApplication]
GO
/****** Object:  Table [dbo].[FormalAlterFeeApplicationDetail]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]') AND type in (N'U'))
DROP TABLE [dbo].[FormalAlterFeeApplicationDetail]
GO
/****** Object:  Table [dbo].[FormalAlterFeeExpenseAccount]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]') AND type in (N'U'))
DROP TABLE [dbo].[FormalAlterFeeExpenseAccount]
GO
/****** Object:  Table [dbo].[FormalAlterFeeExpenseAccountDetail]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountDetail]') AND type in (N'U'))
DROP TABLE [dbo].[FormalAlterFeeExpenseAccountDetail]
GO
/****** Object:  Table [dbo].[FormalAlterFeeExpenseAccountVoucherNo]    Script Date: 09/01/2007 11:35:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountVoucherNo]') AND type in (N'U'))
DROP TABLE [dbo].[FormalAlterFeeExpenseAccountVoucherNo]
GO
/****** Object:  Table [dbo].[DraftAlterFeeApplication]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DraftAlterFeeApplication](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RejectedApplyID] [int] NULL,
	[StuffUserId] [int] NOT NULL,
	[PositionId] [int] NOT NULL,
	[OfficeID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[FilialeID] [int] NOT NULL,
	[AlterFeeTypeId] [int] NOT NULL,
	[ApplyBegin] [datetime] NOT NULL,
	[CurrId] [int] NOT NULL,
	[CustomerTypeID] [int] NOT NULL,
	[CustomerNo] [varchar](50) NOT NULL,
	[Summary] [nvarchar](500) NULL,
	[CreateDate] [datetime] NOT NULL DEFAULT (getdate()),
	[LastModified] [datetime] NOT NULL DEFAULT (getdate()),
	[AttachmentFileName] [nvarchar](256) NULL,
	[AttachmentFileSize] [int] NULL,
 CONSTRAINT [PK_DraftAlterFeeApplication] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DraftAlterFeeExpenseAccountVoucherNo]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountVoucherNo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DraftAlterFeeExpenseAccountVoucherNo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DraftID] [int] NOT NULL,
	[RowIndex] [int] NOT NULL,
	[VoucherNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_DraftAlterFeeExpenseAccountVoucherNo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DraftAlterFeeApplicationDetail]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DraftAlterFeeApplicationDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DraftID] [int] NOT NULL,
	[RowIndex] [int] NOT NULL,
	[ShopNo] [varchar](50) NULL,
	[AlterFeeSubTypeID] [int] NOT NULL,
	[ItemTypeNo] [varchar](50) NULL,
	[ItemNo] [varchar](50) NULL,
	[FilialeID] [int] NULL,
	[OfficeID] [int] NULL,
	[ManualApplyFee] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_DraftAlterFeeApplicationDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DraftAlterFeeExpenseAccount]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DraftAlterFeeExpenseAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RejectedExpenseAccountID] [int] NULL,
	[StuffUserId] [int] NOT NULL,
	[PositionId] [int] NOT NULL,
	[OfficeID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[FilialeID] [int] NOT NULL,
	[AlterFeeTypeId] [int] NOT NULL,
	[ApplyBegin] [datetime] NOT NULL,
	[CurrId] [int] NOT NULL,
	[CustomerTypeID] [int] NOT NULL,
	[CustomerNo] [varchar](50) NOT NULL,
	[PaymentModeID] [int] NOT NULL,
	[PlanPayDate] [datetime] NOT NULL,
	[ManualGrandTotal] [decimal](18, 2) NOT NULL CONSTRAINT [DF__DraftAlte__Manua__1EF99443]  DEFAULT ((0)),
	[Summary] [nvarchar](500) NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF__DraftAlte__Creat__1FEDB87C]  DEFAULT (getdate()),
	[LastModified] [datetime] NOT NULL CONSTRAINT [DF__DraftAlte__LastM__20E1DCB5]  DEFAULT (getdate()),
	[AttachmentFileSize] [int] NULL,
	[AttachmentFileName] [nvarchar](256) NULL,
 CONSTRAINT [PK_DraftAlterFeeExpenseAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DraftAlterFeeExpenseAccountDetail]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DraftAlterFeeExpenseAccountDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DraftID] [int] NOT NULL,
	[RowIndex] [int] NOT NULL,
	[ApplyDetailID] [int] NOT NULL,
	[ManualApplyFee] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_DraftAlterFeeExpenseAccountDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ExpenseForm]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExpenseForm]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExpenseForm](
	[ExpenseFormId] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseFormType] [tinyint] NOT NULL,
	[ExpenseFormSubType] [int] NULL,
	[ExpenseFormNo] [nvarchar](50) NOT NULL,
	[RejectedExpenseFormId] [int] NULL,
	[StuffUserId] [int] NOT NULL,
	[PositionId] [int] NOT NULL,
	[OfficeID] [int] NULL,
	[DepartmentID] [int] NULL,
	[FilialeID] [int] NULL,
	[ExpensePeriod] [datetime] NULL,
	[CurrId] [int] NOT NULL,
	[ManualGrandTotal] [decimal](18, 2) NOT NULL CONSTRAINT [DF_ExpenseForm_ManualGrandTotal]  DEFAULT ((0)),
	[OverBudgetOrStandard] [tinyint] NOT NULL CONSTRAINT [DF_ExpenseForm_OverBudgetOrStandard]  DEFAULT ((0)),
	[StatusID] [tinyint] NOT NULL CONSTRAINT [DF_ExpenseForm_StatusID]  DEFAULT ((0)),
	[CreateACDate] [datetime] NULL,
	[IsCreateAC] [bit] NOT NULL CONSTRAINT [DF_ExpenseForm_IsCreateAC]  DEFAULT ((0)),
	[AttachmentFileName] [nvarchar](256) NULL,
	[AttachmentFileSize] [int] NULL,
	[Remark] [nvarchar](500) NULL,
	[SubmitDate] [datetime] NOT NULL CONSTRAINT [DF_ExpenseForm_SubmitDate]  DEFAULT (getdate()),
	[CompleteDate] [datetime] NULL,
 CONSTRAINT [PK_ExpenseForm_1] PRIMARY KEY CLUSTERED 
(
	[ExpenseFormId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[WorkFlowDetail]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WorkFlowDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseFormId] [int] NOT NULL,
	[ApprovalIndex] [tinyint] NOT NULL,
	[OrganizationUnitTypeId] [int] NULL,
	[PositionTypeId] [int] NULL,
	[StuffUserId] [int] NULL,
	[PositionId] [int] NULL,
	[AuditDate] [datetime] NULL,
	[Comment] [nvarchar](100) NULL,
	[AuditStatus] [tinyint] NOT NULL CONSTRAINT [DF_WorkFlowDetail_AuditStatus]  DEFAULT ((0)),
 CONSTRAINT [PK_WorkFlowDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PaymentMode]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentMode]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PaymentMode](
	[PaymnetModeId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentModeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentMode] PRIMARY KEY CLUSTERED 
(
	[PaymnetModeId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FormalAlterFeeApplication]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormalAlterFeeApplication](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseFormId] [int] NOT NULL,
	[AlterFeeTypeId] [int] NOT NULL,
	[CustomerNo] [varchar](50) NOT NULL,
	[CalculateGrandTotal] [decimal](18, 2) NOT NULL CONSTRAINT [DF__FormalAlt__Calcu__4EDDB18F]  DEFAULT ((0)),
	[IsClosed] [bit] NOT NULL CONSTRAINT [DF_FormalAlterFeeApplication_IsClosed]  DEFAULT ((0)),
	[CloseDate] [datetime] NULL,
	[TotalSale] [decimal](18, 2) NOT NULL CONSTRAINT [DF__FormalAlt__Total__54968AE5]  DEFAULT ((0)),
	[Budget] [decimal](18, 2) NOT NULL CONSTRAINT [DF__FormalAlt__Budge__558AAF1E]  DEFAULT ((0)),
	[TotalApplied] [decimal](18, 2) NOT NULL CONSTRAINT [DF__FormalAlt__Total__567ED357]  DEFAULT ((0)),
	[TotalApproving] [decimal](18, 2) NOT NULL CONSTRAINT [DF__FormalAlt__Total__5772F790]  DEFAULT ((0)),
 CONSTRAINT [PK_FormalAlterFeeApplication] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FormalAlterFeeApplicationDetail]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormalAlterFeeApplicationDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplyID] [int] NOT NULL,
	[RowIndex] [int] NOT NULL,
	[ShopNo] [varchar](50) NULL,
	[AlterFeeSubTypeID] [int] NOT NULL,
	[ItemTypeNo] [varchar](50) NULL,
	[ItemNo] [varchar](50) NULL,
	[FilialeID] [int] NULL,
	[OfficeID] [int] NULL,
	[CalculateFee] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[ManualApplyFee] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_FormalAlterFeeApplicationDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FormalAlterFeeExpenseAccount]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormalAlterFeeExpenseAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseFormId] [int] NOT NULL,
	[AlterFeeTypeId] [int] NOT NULL,
	[CustomerTypeID] [int] NOT NULL,
	[CustomerNo] [varchar](50) NOT NULL,
	[PlanPayDate] [datetime] NOT NULL,
	[PaymentModeID] [int] NOT NULL,
 CONSTRAINT [PK_FormalAlterFeeExpenseAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FormalAlterFeeExpenseAccountDetail]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormalAlterFeeExpenseAccountDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseAccountID] [int] NOT NULL,
	[RowIndex] [int] NOT NULL,
	[ApplyDetailID] [int] NOT NULL,
	[ApplyOverBudgetOrStandard] [nchar](10) NULL,
	[ManualApplyFee] [decimal](18, 2) NOT NULL CONSTRAINT [DF__FormalAlt__Manua__1A34DF26]  DEFAULT ((0)),
 CONSTRAINT [PK_FormalAlterFeeExpenseAccountDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FormalAlterFeeExpenseAccountVoucherNo]    Script Date: 09/01/2007 11:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountVoucherNo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormalAlterFeeExpenseAccountVoucherNo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseAccountID] [int] NOT NULL,
	[RowIndex] [int] NOT NULL,
	[VoucherNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_FormalAlterFeeExpenseAccountVoucherNo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_AlterFeeType] FOREIGN KEY([AlterFeeTypeId])
REFERENCES [dbo].[AlterFeeType] ([AlterFeeTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Currency]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_Currency] FOREIGN KEY([CurrId])
REFERENCES [dbo].[Currency] ([CurrId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_Customer] FOREIGN KEY([CustomerNo])
REFERENCES [dbo].[Customer] ([CustomerNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_CustomerType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_CustomerType] FOREIGN KEY([CustomerTypeID])
REFERENCES [dbo].[CustomerType] ([CustomerTypeID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Department]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_Filiale] FOREIGN KEY([FilialeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_FormalAlterFeeApplication]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_FormalAlterFeeApplication] FOREIGN KEY([RejectedApplyID])
REFERENCES [dbo].[FormalAlterFeeApplication] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_Office] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplication_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplication]'))
ALTER TABLE [dbo].[DraftAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplication_StuffUser] FOREIGN KEY([StuffUserId])
REFERENCES [dbo].[StuffUser] ([StuffUserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountVoucherNo]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccountVoucherNo]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount] FOREIGN KEY([DraftID])
REFERENCES [dbo].[DraftAlterFeeExpenseAccount] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_AlterFeeSubType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplicationDetail_AlterFeeSubType] FOREIGN KEY([AlterFeeSubTypeID])
REFERENCES [dbo].[AlterFeeSubType] ([AlterFeeSubTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_DraftAlterFeeApplication]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplicationDetail_DraftAlterFeeApplication] FOREIGN KEY([DraftID])
REFERENCES [dbo].[DraftAlterFeeApplication] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Filiale] FOREIGN KEY([FilialeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Item]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Item] FOREIGN KEY([ItemNo])
REFERENCES [dbo].[Item] ([ItemNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_ItemType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplicationDetail_ItemType] FOREIGN KEY([ItemTypeNo])
REFERENCES [dbo].[ItemType] ([ItemTypeNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Office] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeApplicationDetail_Shop]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeApplicationDetail_Shop] FOREIGN KEY([ShopNo])
REFERENCES [dbo].[Shop] ([ShopNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_AlterFeeType] FOREIGN KEY([AlterFeeTypeId])
REFERENCES [dbo].[AlterFeeType] ([AlterFeeTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Currency]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Currency] FOREIGN KEY([CurrId])
REFERENCES [dbo].[Currency] ([CurrId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Customer] FOREIGN KEY([CustomerNo])
REFERENCES [dbo].[Customer] ([CustomerNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_CustomerType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_CustomerType] FOREIGN KEY([CustomerTypeID])
REFERENCES [dbo].[CustomerType] ([CustomerTypeID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Department]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Filiale] FOREIGN KEY([FilialeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_FormalAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_FormalAlterFeeExpenseAccount] FOREIGN KEY([RejectedExpenseAccountID])
REFERENCES [dbo].[FormalAlterFeeExpenseAccount] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Office] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_PaymentMode]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_PaymentMode] FOREIGN KEY([PaymentModeID])
REFERENCES [dbo].[PaymentMode] ([PaymnetModeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccount_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccount_StuffUser] FOREIGN KEY([StuffUserId])
REFERENCES [dbo].[StuffUser] ([StuffUserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccountDetail_DraftAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccountDetail_DraftAlterFeeExpenseAccount] FOREIGN KEY([DraftID])
REFERENCES [dbo].[DraftAlterFeeExpenseAccount] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DraftAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail]') AND parent_object_id = OBJECT_ID(N'[dbo].[DraftAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[DraftAlterFeeExpenseAccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_DraftAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail] FOREIGN KEY([ApplyDetailID])
REFERENCES [dbo].[FormalAlterFeeApplicationDetail] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_Currency]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseForm_Currency] FOREIGN KEY([CurrId])
REFERENCES [dbo].[Currency] ([CurrId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseForm_ExpenseForm] FOREIGN KEY([RejectedExpenseFormId])
REFERENCES [dbo].[ExpenseForm] ([ExpenseFormId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseForm_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseForm_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseForm]'))
ALTER TABLE [dbo].[ExpenseForm]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseForm_StuffUser] FOREIGN KEY([StuffUserId])
REFERENCES [dbo].[StuffUser] ([StuffUserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowDetail_ExpenseForm] FOREIGN KEY([ExpenseFormId])
REFERENCES [dbo].[ExpenseForm] ([ExpenseFormId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_OrganizationUnitType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowDetail_OrganizationUnitType] FOREIGN KEY([OrganizationUnitTypeId])
REFERENCES [dbo].[OrganizationUnitType] ([OrganizationUnitTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_Position]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowDetail_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_PositionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowDetail_PositionType] FOREIGN KEY([PositionTypeId])
REFERENCES [dbo].[PositionType] ([PositionTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WorkFlowDetail_StuffUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[WorkFlowDetail]'))
ALTER TABLE [dbo].[WorkFlowDetail]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowDetail_StuffUser] FOREIGN KEY([StuffUserId])
REFERENCES [dbo].[StuffUser] ([StuffUserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplication_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]'))
ALTER TABLE [dbo].[FormalAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplication_AlterFeeType] FOREIGN KEY([AlterFeeTypeId])
REFERENCES [dbo].[AlterFeeType] ([AlterFeeTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplication_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]'))
ALTER TABLE [dbo].[FormalAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplication_Customer] FOREIGN KEY([CustomerNo])
REFERENCES [dbo].[Customer] ([CustomerNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplication_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplication]'))
ALTER TABLE [dbo].[FormalAlterFeeApplication]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplication_ExpenseForm] FOREIGN KEY([ExpenseFormId])
REFERENCES [dbo].[ExpenseForm] ([ExpenseFormId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_AlterFeeSubType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplicationDetail_AlterFeeSubType] FOREIGN KEY([AlterFeeSubTypeID])
REFERENCES [dbo].[AlterFeeSubType] ([AlterFeeSubTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Filiale]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Filiale] FOREIGN KEY([FilialeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_FormalAlterFeeApplication]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplicationDetail_FormalAlterFeeApplication] FOREIGN KEY([ApplyID])
REFERENCES [dbo].[FormalAlterFeeApplication] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Item]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Item] FOREIGN KEY([ItemNo])
REFERENCES [dbo].[Item] ([ItemNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_ItemType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplicationDetail_ItemType] FOREIGN KEY([ItemTypeNo])
REFERENCES [dbo].[ItemType] ([ItemTypeNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Office]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Office] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OrganizationUnit] ([OrganizationUnitId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeApplicationDetail_Shop]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeApplicationDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeApplicationDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeApplicationDetail_Shop] FOREIGN KEY([ShopNo])
REFERENCES [dbo].[Shop] ([ShopNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_AlterFeeType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccount_AlterFeeType] FOREIGN KEY([AlterFeeTypeId])
REFERENCES [dbo].[AlterFeeType] ([AlterFeeTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccount_Customer] FOREIGN KEY([CustomerNo])
REFERENCES [dbo].[Customer] ([CustomerNo])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_CustomerType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccount_CustomerType] FOREIGN KEY([CustomerTypeID])
REFERENCES [dbo].[CustomerType] ([CustomerTypeID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_ExpenseForm]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccount_ExpenseForm] FOREIGN KEY([ExpenseFormId])
REFERENCES [dbo].[ExpenseForm] ([ExpenseFormId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccount_PaymentMode]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccount]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccount]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccount_PaymentMode] FOREIGN KEY([PaymentModeID])
REFERENCES [dbo].[PaymentMode] ([PaymnetModeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeApplicationDetail] FOREIGN KEY([ApplyDetailID])
REFERENCES [dbo].[FormalAlterFeeApplicationDetail] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountDetail]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccountDetail_FormalAlterFeeExpenseAccount] FOREIGN KEY([ExpenseAccountID])
REFERENCES [dbo].[FormalAlterFeeExpenseAccount] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FormalAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormalAlterFeeExpenseAccountVoucherNo]'))
ALTER TABLE [dbo].[FormalAlterFeeExpenseAccountVoucherNo]  WITH CHECK ADD  CONSTRAINT [FK_FormalAlterFeeExpenseAccountVoucherNo_DraftAlterFeeExpenseAccount] FOREIGN KEY([ExpenseAccountID])
REFERENCES [dbo].[FormalAlterFeeExpenseAccount] ([ID])
GO
