<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VitasoyOA.WindowsService.Properties.Settings.ERS_newConnectionString"
      connectionString="Data Source=10.221.1.4;Initial Catalog=ERS;Persist Security Info=True;User ID=sa;Password=Aa#123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<appSettings>
    <add key="EmailAlert.TimeInterval" value="3700" />
    <add key="EmailAlert.RunAt" value="4" />
    <add key="EmailAlert.EmailUser" value="vsloaadmin@vitasoy-chn.com" />
    <add key="EmailAlert.EmailPwd" value="shvitasoy" />
    <add key="EmailAlert.EmailServer" value="mail.vitasoy-chn.com" />
    <add key="EmailAlert.SendFrom" value="vsloaadmin@vitasoy-chn.com" />
    <add key="EmailAlert.Subject" value="每日审批提示" />
    <add key="EmailAlert.Body" value=""/>
    <add key="ERSEntry" value="http://192.168.132.19:8080"/>
    <add key="BlockMail" value="true"/>
  
  </appSettings>-->

  <appSettings>
    <add key="EmailAlert.TimeInterval" value="60" />
    <add key="EmailAlert.RunAt" value="18" />
    <add key="EmailAlert.EmailUser" value="systeminformation@163.com" />
    <add key="EmailAlert.EmailPwd" value="sh123456" />
    <add key="EmailAlert.EmailServer" value="smtp.163.com" />
    <add key="EmailAlert.SendFrom" value="systeminformation@163.com" />
    <add key="EmailAlert.Subject" value="每日审批提示" />
    <add key="EmailAlert.Body" value=""/>

    <!-- AP Helper-->
    <add key="ServerUrl" value="http://localhost:8015/AgilePointServer"/>
    <add key="ERSEntry" value="http://10.1.248.81/WebSite"/>
    <add key="MailTitle" value=""/>
    <add key="BlockMail" value="true"/>
    <add key="APAdmin" value="administrator"/>
    <add key="APPWD" value="password1!"/>
    <add key="APDomain" value="bgi"/>
  </appSettings>
</configuration>