<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="BusinessObjects.Properties.Settings.ERSConnectionString"
     connectionString="Data Source=192.168.132.19;Initial Catalog=ERS;Persist Security Info=True;User ID=sa;Password=Ping333"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>