.input {
	BORDER-RIGHT: #4f4f4f 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #4f4f4f 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #4f4f4f 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #4f4f4f 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #e7e7e7
}
.textarea {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; FONT-FAMILY: ו; BACKGROUND-COLOR: #efefef; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
.select {
	BORDER-RIGHT: #717171 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #717171 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #717171 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #717171 1px solid; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #fffbf0
}
.12 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.LoginBulletin {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.LoginBulletin A {
	COLOR: #860001; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.LoginBulletin A:hover {
	COLOR: #ff0033; TEXT-DECORATION: underline
}
